In [1]:
import pandas as pd

In [2]:
df = pd.io.parsers.read_csv(
    filepath_or_buffer='digits.csv',
    header=None,
    sep=',',
    )

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,0,5,13,9,1,0,0,0,0,...,0,0,0,6,13,10,0,0,0,0
1,0,0,0,12,13,5,0,0,0,0,...,0,0,0,0,11,16,10,0,0,1
2,0,0,0,4,15,12,0,0,0,0,...,0,0,0,0,3,11,16,9,0,2
3,0,0,7,15,13,1,0,0,0,8,...,0,0,0,7,13,13,9,0,0,3
4,0,0,0,1,11,0,0,0,0,0,...,0,0,0,0,2,16,4,0,0,4

In [4]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
count,1797.0,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,...,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000
mean,0.0,0.303840,5.204786,11.835838,11.848080,5.781859,1.362270,0.129661,0.005565,1.993879,...,0.206455,0.000556,0.279354,5.557596,12.089037,11.809126,6.764051,2.067891,0.364496,4.490818
std,0.0,0.907192,4.754826,4.248842,4.287388,5.666418,3.325775,1.037383,0.094222,3.196160,...,0.984401,0.023590,0.934302,5.103019,4.374694,4.933947,5.900623,4.090548,1.860122,2.865304
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.000000,1.000000,10.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,11.000000,10.000000,0.000000,0.000000,0.000000,2.000000
50%,0.0,0.000000,4.000000,13.000000,13.000000,4.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,4.000000,13.000000,14.000000,6.000000,0.000000,0.000000,4.000000
75%,0.0,0.000000,9.000000,15.000000,15.000000,11.000000,0.000000,0.000000,0.000000,3.000000,...,0.000000,0.000000,0.000000,10.000000,16.000000,16.000000,12.000000,2.000000,0.000000,7.000000
max,0.0,8.000000,16.000000,16.000000,16.000000,16.000000,16.000000,15.000000,2.000000,16.000000,...,13.000000,1.000000,9.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,9.000000

In [7]:
feature_dict = {i:label for i,label in zip(
                range(17),
                  range(17))}

print(feature_dict)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16}

In [8]:
df

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,0,5,13,9,1,0,0,0,0,...,0,0,0,6,13,10,0,0,0,0
1,0,0,0,12,13,5,0,0,0,0,...,0,0,0,0,11,16,10,0,0,1
2,0,0,0,4,15,12,0,0,0,0,...,0,0,0,0,3,11,16,9,0,2
3,0,0,7,15,13,1,0,0,0,8,...,0,0,0,7,13,13,9,0,0,3
4,0,0,0,1,11,0,0,0,0,0,...,0,0,0,0,2,16,4,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0,0,4,10,13,6,0,0,0,1,...,0,0,0,2,14,15,9,0,0,9
1793,0,0,6,16,13,11,1,0,0,0,...,0,0,0,6,16,14,6,0,0,0
1794,0,0,1,11,15,1,0,0,0,0,...,0,0,0,2,9,13,6,0,0,8
1795,0,0,2,10,7,0,0,0,0,0,...,0,0,0,5,12,16,12,0,0,9
1796,0,0,10,14,8,1,0,0,0,2,...,0,0,1,8,12,14,12,1,0,8

In [21]:
target = [i for i in range(10)]

y = pd.Categorical.from_codes(target, target)

In [17]:
x = df.join(pd.Series(y, name = 'class'))

In [20]:
x

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,class
0,0,0,5,13,9,1,0,0,0,0,...,0,0,6,13,10,0,0,0,0,0
1,0,0,0,12,13,5,0,0,0,0,...,0,0,0,11,16,10,0,0,1,1
2,0,0,0,4,15,12,0,0,0,0,...,0,0,0,3,11,16,9,0,2,2
3,0,0,7,15,13,1,0,0,0,8,...,0,0,7,13,13,9,0,0,3,3
4,0,0,0,1,11,0,0,0,0,0,...,0,0,0,2,16,4,0,0,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0,0,4,10,13,6,0,0,0,1,...,0,0,2,14,15,9,0,0,9,NaN
1793,0,0,6,16,13,11,1,0,0,0,...,0,0,6,16,14,6,0,0,0,NaN
1794,0,0,1,11,15,1,0,0,0,0,...,0,0,2,9,13,6,0,0,8,NaN
1795,0,0,2,10,7,0,0,0,0,0,...,0,0,5,12,16,12,0,0,9,NaN
1796,0,0,10,14,8,1,0,0,0,2,...,0,1,8,12,14,12,1,0,8,NaN

In [19]:
class_feature_means = pd.DataFrame(columns=target)
for c, rows in x.groupby('class'):
    class_feature_means[c] = rows.mean()
class_feature_means

          0     1     2     3     4     5     6     7     8     9
0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2       5.0   0.0   0.0   7.0   0.0  12.0   0.0   7.0   9.0  11.0
3      13.0  12.0   4.0  15.0   1.0  10.0  12.0   8.0  14.0  12.0
4       9.0  13.0  15.0  13.0  11.0   0.0  13.0  13.0   8.0   0.0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
61      0.0  10.0  16.0   9.0   4.0  10.0  11.0   0.0  11.0   3.0
62      0.0   0.0   9.0   0.0   0.0   0.0   3.0   0.0   1.0   0.0
63      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
64      0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0
class   0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0

[66 rows x 10 columns]